* {margin: 0; padding: 0; box-sizing: border-box;}

.box {
  width: 100%;
  min-height: 100vh;
  background: transparent center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* overflow: hidden; */
  float: left;
  position: relative;
}

.box > .bg {
    position: fixed;
    object-fit: cover;
    height: 100%;
    z-index: 2;
    width: 100%;
}

.box > .page {
  position: relative;
  z-index: 3;
  min-height: 100vh;
}

.box > .page > .content {
    position: absolute;
    max-width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px 10px;
    width: 50%;
    color: #f4f4f4;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 0px 20px;
}
.box > .page > .content > .title {
    font-weight: 300;
}

.box > .page > .content > .paragraph {
  line-height: 1.5em;
  font-size: 1.3em;
}

.red {
    border: 10px solid red;
}






/* image related */
img {
    transition: opacity 1s;
    opacity: 0;
}

.active {
    opacity: 1;
}


/* animation */
.show {
  animation: show 1s forwards;
}

@keyframes show {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}